#!/usr/bin/env bash

[ -d bin ] && export PATH=/home/kaineer/devel/kaineer/obsidian/nihongo.md/bin:$PATH
[ -d node_modules/.bin ] && export PATH=/home/kaineer/devel/kaineer/obsidian/nihongo.md/node_modules/.bin:$PATH
export PROJECT_PATH=/home/kaineer/devel/kaineer/obsidian/nihongo.md
export PROJECT_BIN=/home/kaineer/devel/kaineer/obsidian/nihongo.md/bin
export PROJECT_NAME=nihongo.md
export PROJECT_CREATED="31.05.2025"
